-
    const usloviya = {
        title: 'Условия проживания',
        sectionRows: [
            {
                cols: 1,

                controlGroups: [
                    {
                        modifier: 'lw-mobile-nooffset',
                        controlsGroup: [
                            [
                                {
                                    type: 'controls-with-desc',
                                    text: 'Комментарий менеджера Intermark Property:',
                                    modifier: 'lw-controls-with-desc--table-grid lw-mobile-column',

                                    groups: [
                                        [
                                            {
                                                type: 'textarea',
                                            }
                                        ],
                                    ]
                                }
                            ]
                        ]
                    },
                ]
            },
        ]
    }


    {
        type: 'controls-with-desc',
        text: 'Комментарий менеджера Intermark Property:',
        modifier: 'lw-controls-with-desc--table-grid lw-mobile-column',

        groups: [
            [
                
            ],
        ]
    }



    {
        cols: 1,

        controlGroups: [
            {
                controlsGroup: [ 
                    [
                    ]
                ]
            }
        ]
    },

//- radio

//- switcher

//- controls-with-desc

//- button

//- text

//- textarea