-
const section = {
    title,

    controlRows: [
        {
            cols,

            modifier?,
            col1Modifier,
            col2Modifier
            controlGroups : [
                {
                    modifier,
                    controlsGroup:[
                        [
                            {
                                control
                            }
                        ]
                    ]
                }
            ]

            controlGroups2 : []
        }
    ]
}

//- radio

//- switcher

//- controls-with-desc

//- button

//- text

//- textarea