-
    const usloviya = {
        title: 'Условия проживания',
        sectionRows: [
            {
                cols: 1,

                controlGroups: [
                    {
                        modifier: 'lw-control-group--2cols',
                        controlsGroup: [
                            [
                                {
                                    type: 'switcher',
                                    title: 'Можно ли с детьми',
                                    id: 'usloviya_1'
                                },
  
                                {
                                    type: 'controls-with-desc',
                                    text: 'Комментарий по детям:',
                                        modifier: 'lw-controls-with-desc--table-grid lw-mobile-column',

                                    groups: [
                                        [
                                            {
                                                type: 'textarea',
                                            }
                                        ],
                                    ]
                                },
                            ]
                        ]
                    }
                ]
            },
        ]
    }

//- radio

//- switcher

//- controls-with-desc

//- button

//- text

//- textarea