.lw {
  &-container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);

    @media(max-width: 620px) {
      padding: 20px;
    }
  }

  &-main-content {
    border: 1px solid var(--success);
    background-color: var(--white);
  }

  &-submit-btn {
    width: 100%;
    min-height: 50px;
    margin-bottom: var(--main-offset-bottom);
  }

  &-section {

    &:not(:last-of-type) {
      border-bottom: 1px solid var(--section-border-color);
    }

    &-container {
      padding-top: 30px;
      padding-bottom: 30px;
    }
  }

  &-section-row {
    @extend .flex-wrap;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: var(--main-offset-bottom);
    }

    .lw-control-group:not(:last-child) {
      margin-bottom: var(--main-offset-bottom);
    }

    

    &-col {
      width: calc(50% - 30px);
      row-gap: 5px;

      &:first-child {
        margin-right: auto;
      }

      @media(max-width: 768px) {
        width: 100%;
      }
    }

    @media(max-width: 768px) {
      flex-direction: column;
      gap: var(--main-offset-bottom);

      & > .lw-title {
        margin-bottom: 0 !important;
      }
    }
  }

  &-control-group {
    @extend .flex-wrap;
    align-items: center;
    width: 100%;
    gap: 10px;

    &--2cols {
      align-items: flex-start;
      gap: 10px 60px;
      
      textarea {
        height: 60px;
      }

      & > * {
        width: calc(50% - 30px) !important;

        @media(max-width: 620px) {
          width: 100% !important;
        }
      }
    }

    &-title {
      display: inline-block;
      width: 100%;
      font-weight: 700;
      font-size: 14px;
      margin-bottom: var(--main-offset-bottom);
    }

    .lw-switcher {
      width: 100%;
    }
    .lw-switcher:not(:last-child) {
      margin-bottom: 20px;
    }

    &--radio {
      gap: 3px;

      @media(max-width: 620px) {
        .lw-radio-btn {
          width: 100%;

          label {
            width: 100%;
          }
        }
      }
    }

    @media(max-width: 620px) {

      // .lw-main-input-wrapper {
      //   width: 100%;
      // }

      .lw-select {
        width: 100%;
      }
    }
  }

  &-controls-with-desc {
    display: flex;
    gap: 10px 20px;
    width: 100%;
    

    & > span {
      font-size: 14px;
      font-weight: 400;
      color: var(--base-text-color);
    }

    &--table-grid {
      & > span {
        width: 100%;
        max-width: 130px;
      }
    }

    &--bordered {
      border-radius: 6px;
      padding: 10px;
      border: 1px solid #dedede;
      max-width: fit-content;

      & .lw-control-group:not(:last-child) {
        margin-bottom: 10px !important;
      }
    }

    &--scrollable {
      & > .lw-controls-wrapper {
        height: 100%;
        max-height: 134px;
        overflow: hidden;
        overflow-y: scroll;
      }

      & .lw-control-group:not(:last-child) {
        margin-bottom: 10px !important;
      }

      @media(max-width: 620px) {
        .lw-control-group .lw-main-input-wrapper {
          width: initial !important;
        }
      }
    }
  }

  &-controls-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    max-width: 500px;
  }

  &-title {
    display: inline-block;
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: var(--main-offset-bottom);
    color: var(--main-title-color);

    & > span {
      font-size: 14px;
      font-weight: 400;
    }
  }


  &-no-offset {
    margin-bottom: 0 !important;
  }

  &-align-center {
    align-items: center;
  }

  &-flex-column {
    display: flex;
    flex-direction: column;
  }

  &-justify-end {
    justify-content: flex-end;

    .lw-controls-wrapper {
      flex-grow: initial;
    }

    .lw-controls-with-desc {
      width: fit-content !important;
    }

    @media(max-width: 960px) {
      justify-content: initial;
    }
  }

  &-full-width {
    width: 100% !important;
  }

  &-text-control-xs {
    width: 50px !important;
  }

  &-text-control-md {
    width: 150px !important;

    @media(max-width: 768px) {
      width: initial !important;
    }
  }

  &-width-fit-content {
    width: fit-content !important;

    @media(max-width: 768px) {
      width: 100% !important;
    }
  }

  &-switcher.lw-width-fit-content {
    min-width: 180px
  }

  &-items-nooffset > * { 
    margin-bottom: 0 !important
  }

  &-items-row-gaped {
    gap: 10px 40px !important;

    & > * {
      margin-bottom: 0 !important;
    }
  }

  @media(max-width: 768px) {
    &-mobile-column {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      

      &.lw-controls-with-desc--table-grid span {
        max-width: 100%;
      }
    }
 
    &-mobile-nooffset {
      margin-bottom: 0 !important;
    }
  }

  @media(max-width: 620px) {
    // &-mobile-column {
    //   .lw-controls-wrapper {
    //     width: 100%;
    //   }
    // }
  }
}
