extends layouts/main-layout.pug
include mixins/main-section

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include content/city-data
  
  form(action="#").lw-main-content
    each item of cityData      
      +main-section(item)
    
    .lw-container
      button(type="button").lw-main-btn.lw-submit-btn Сохранить

block modals

