extends layouts/main-layout.pug
include mixins/main-section

block variables
  -
    const title = ""
    const desc = ""
    const keywords = ""

block content
  include content/city-data
  
  .lw-main-content
    each item of cityData      
      +main-section(item)

block modals

