mixin lw-switcher(data)
    .lw-switcher(class= data.modifier ? data.modifier : null)
        input(type= data.switcherType == 'radio' ? 'radio' : 'checkbox' id= data.id name= data.name ? data.name : null)
        label(for= data.id)
            span!= data.title
