.lw-select {

  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;

  small {
    font-size: 14px;
    font-weight: 400;
    color: #757575;

    @media(max-width: 534px) {
      font-size: 12px;
    }
  }

  .custom-select {
    &-container {
      width: 100%;

      &.is-open .custom-select-panel {
        border: 1px solid #dedede;
        border-radius: 6px;
      }
    }

    &-opener {
      font-size: 14px;
      font-weight: 400;
      color: #333333;
      padding: 10px 16px;
      border-radius: 6px;
      border: 1px solid #dedede;
      background-color: transparent;
      padding-right: 50px;
      width: 100%;
      max-width: 500px;

      position: relative;

      &::after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 16px;
        content: '';
        width: 16px;
        height: 16px;
        background-image: url("../assets/img/icon-burger.svg");;
        background-repeat: no-repeat;
        background-size: 16px;
        background-position: center;
      }
    }

    &-panel {
      top: calc(100% + 2px);
      width: 100%;
      transition: none !important;
      min-width: fit-content;
      max-width: 500px;
      padding: 0;

      background-color: #ffffff;
      cursor: pointer;

      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    }

    &-option {
      width: 100%;
      padding: 10px 16px;
      background-color: transparent;

      &:not(:last-child) {
        border-bottom: 1px solid #dedede
      }
    }

    &-option.has-focus {
      color: #ffffff;
      background-color: #4caf50;
    }
  }
}
